.step-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 1rem;
  margin-right: -1.5rem;
  padding-top: 1.5rem;
}

.step-dot {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 0.3s ease;
  border: 0.15rem solid rgba(255, 255, 255, 1);
}

.step-dot--current {
  border: 0.15rem solid rgba(255, 255, 255, 0.5);
}
