.model-viewer-container {
  width: 1000px;
  height: 300px; /* 적절한 높이 설정 */

  /* 둥근 모서리와 테두리 */
  border: 2px solid white;
  border-radius: 12px;

  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.diagram-popup {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px; /* 적절한 크기 조정 */
  height: auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 10;
  padding: 8px;
}

.diagram-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.substep-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 60px;
  cursor: pointer;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.substep-nav-button.left {
  left: 20px;
}

.substep-nav-button.right {
  right: 20px;
}
