@font-face {
  font-family: "NoonnuBasicGothicRegular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.tutorial-guide {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-image: url("/assets/TutorialGuide-Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "NoonnuBasicGothicRegular";
}

.tutorial-header {
  flex-shrink: 0;
  background-color: transparent;
  z-index: 10;
  padding: 1rem 2rem;
}

.step-title {
  font-weight: bold;
  margin-top: 2.4rem;
  margin-bottom: -0rem;
  transform-origin: right top;
  font-size: 3rem;
  color: white;
  text-align: right;
  padding-right: 5rem;
  letter-spacing: 0.3rem;
}

.step-navigation {
  position: relative;
  height: 40px;
}

.step-indicator-wrapper {
  position: absolute;
  right: 1rem;
  transform: translate(-50%, 0);
}

.tutorial-content {
  flex: 1;
  position: relative;
  min-height: 0;
  height: calc(100vh - 80px);
}

/* 1~6단계 스타일 */
.step-main-content {
  display: flex;
  height: 100vh;
  justify-content: center; /* 가로 중앙 */
  align-items: center; /* 세로 중앙 */
  flex-direction: column;
  position: relative;
  z-index: 10;
  transform: translateY(-7.5rem);
  font-family: "NoonnuBasicGothicRegular";
}

.step-content {
  flex: 1;
  min-height: 0;
  position: relative;
  border-radius: 8px;
  margin-top: 0.5rem;
}

.model-viewer-container {
  flex: 1;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

/* 버튼 스타일 */
.prev-step-button {
  position: absolute;
  left: 3.6rem;
  background: transparent;
  color: white;
  border: none;
  font-size: 2.4rem;
  transition: background-color 0.3s ease;
  font-family: "NoonnuBasicGothicRegular";
}

.next-step-button {
  position: absolute;
  right: 3.6rem;
  background: transparent;
  color: white;
  border: none;
  font-size: 2.4rem;
  transition: background-color 0.3s ease;
  font-family: "NoonnuBasicGothicRegular";
}

/* 하단 고정 버튼 래퍼 */
.step-prev-next-button {
  position: absolute;
  bottom: 8.5rem;

  width: 100%;
  display: flex;
  align-items: center;
  background: transparent;
  z-index: 20;
  font-family: "NoonnuBasicGothicRegular";
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(30, 30, 30, 0.6); /* 좀 더 어두운 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 9999 !important;
}

.modal-content {
  background: #fffefb; /* 흰색 배경 */
  width: 100%;
  max-width: 60%;
  border-radius: 12px;
  padding: 2rem 6rem;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* 좀 더 부드러운 그림자 */
  color: #222;
  z-index: 9999;
  font-family: "NoonnuBasicGothicRegular";
}

.modal-title {
  font-size: 2.5rem;
  color: #2c3e50; /* 짙은 청색 계열 */
  z-index: 9999;
  letter-spacing: 0.2rem;
}

.modal-subtitle {
  font-size: 1.8rem;
  font-weight: 800;
  color: #34495e; /* 중간 톤 청색 */
  z-index: 9999;
}

.modal-description {
  font-size: 1.4rem;
  color: #555;
  /* line-height: 1.5; */
  z-index: 9999;
  transform: translateY(-40%);
  font-weight: bold;
  font-family: "NoonnuBasicGothicRegular";
}

.modal-buttons {
  display: flex;
  gap: 4rem;
  justify-content: center;
  z-index: 9999;
}

.modal-button {
  flex: 1;
  padding: 1rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease;
  user-select: none;
  z-index: 9999;
  margin-top: -0.5rem;
}

.modal-button.cancel {
  background-color: #247f46;
  color: white;
  font-family: "NoonnuBasicGothicRegular";
}

.modal-button.confirm {
  background-color: #f59e08;
  color: white;
  font-family: "NoonnuBasicGothicRegular";
}

.modal-button.next {
  background-color: #f59e08;
  color: white;
  width: 50%;
  font-weight: 700;
  font-family: "NoonnuBasicGothicRegular";
}

.modal-button.cancel:hover,
.modal-button.confirm:hover,
.modal-button.next:hover {
  color: white;
  transform: scale(1.05); /* 5% 커짐 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* 약간 그림자 추가 */
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}
