.welcome-screen {
  display: flex;

  min-height: 100vh;

  background-image: url("/assets/FoldingBirding-Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* welcome 단계일 때 */
.welcome-screen.title-stage {
  background-image: url("/assets/FoldingBirding-Background-Title.png");
}

/* info 단계일 때 */
.welcome-screen.onboarding-stage {
  justify-content: center;
  background-image: url("/assets/FoldingBirding-Background-Onboarding.png");
}

.welcome-content.title-stage {
  padding-left: 7rem;
  z-index: 1;
}

.welcome-content.onboarding-stage {
  text-align: center;
  z-index: 1;
}

.logo-container {
  position: absolute;
  top: 9rem;
}

.logo {
  object-fit: contain;
  /* transform: scale(0.9);
  transform-origin: left top; */
}

.intro-section {
  position: absolute;
  bottom: 9rem;
}

.description {
  font-size: 1.75rem;
  color: white;
  line-height: 2.5rem;
}

.start-button {
  background-color: white;
  padding: 1rem 5rem;
  border-radius: 0.75rem;
  font-size: 1.75rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.gradient-text {
  background: linear-gradient(to bottom, #ff9e02, #ffbe56);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 800;
  letter-spacing: 0.1rem;
}

.start-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.start-button:active {
  transform: translateY(0);
}

.start-button::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.start-button:hover::after {
  transform: scale(1);
}

.main-description {
  font-size: 3em;
  text-align: center;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.1rem;

  padding-top: 20rem;
}

.sub-description {
  font-size: 1.8em;
  text-align: center;
  line-height: 1.5;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  color: white;
  letter-spacing: 0.1rem;
}

.sub-description2 {
  font-weight: 600;
}

.next-button {
  font-size: 2rem;
  cursor: pointer;
  background-color: #3d2500;
  color: white;
  padding: 1.2rem 4rem;

  border-radius: 0.75rem;
  border: none;
  letter-spacing: 0.2rem;
  font-weight: 800;
  transition: transform 0.2s ease, box-shadow 0.2s ease,
    background-color 0.2s ease, color 0.2s ease;
}

.next-button::before {
  content: "";
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.4s ease;
  z-index: 0;
}

.next-button:hover::before {
  left: 0;
}

.next-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.next-button:active {
  transform: translateY(0);
}

/* iPad Pro 11" 비율에 맞는 반응형 조정 */
@media (max-aspect-ratio: 1640/2360) {
  .welcome-content {
    max-width: 90vw;
    padding: 2rem;
  }

  .logo {
    width: 8rem;
    height: 8rem;
  }

  .title {
    font-size: 2rem;
  }
}
